<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<title>Modifier un abonnement </title>
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/forms.css">
</head>

<body>
	
	<nav>
	<ul>
		<li><a th:href="@{/superAdminDashboard}">Dashboard</a></li>
		<li><a th:href="@{/usersList}">Utilisateurs</a></li>
		<li><a th:href="@{/schoolsList}">Ecoles</a></li>
		<li><a th:href="@{/featuresList}">Fonctionnalités</a></li>
		<li><a th:href="@{/subscriptionsList}">Abonnements</a></li>
	</ul>
	</nav>
	
	<h2>Modifier un abonnement</h2>
	<form th:action="@{/updateSubscription}" method="post" th:object="${subscription}" class="forms">
		<input type="hidden" name="id" th:value="${subscription.id}"/>
		<label>Nom de l'abonnement</label><br/>
		<input name="subscriptionName" th:value="${subscription.name}" class="input"/><br/>
		<br/>
		<label>Prix </label><br/>
		<input name="subscriptionPrice" th:value="${subscription.price}" class="input"/><br/>
		<br/>
		<label>Durée </label><br/>
		<input name="subscriptionDuration" th:value="${subscription.duration}" class="input"/><br/>
		<br/>
		<label>Fonctionnalités  </label><br/>
		<div th:each="feature : ${features}">
			<input type="checkbox" name="featureId" th:value="${feature.id}" th:checked="${subscription.features.contains(feature)}" class="inputOptions"/>
			<span th:text="${feature.featureTitle}"></span>
		</div>
		<br/> 
		<button type="submit" class="custom-button">Modifier</button>
	</form>

</body>
</html>