:root {
    --color: hsl(0, 78%, 62%);
    --grayishBlue: hsl(229, 6%, 66%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --weight: 600;
    --snow : #FFFAFA;
}

.box p {
    color: var(--grayishBlue);
}

.box {
    background-color : var(--snow);
    border-top: 3px solid var(--color);
    border-radius: 5px;
    box-shadow: 0 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 30px;
}

.box:hover {
    box-shadow: 0 30px 40px -20px var(--varyDarkBlue);
    transform: scale(1.1);
    transition: all 0.5s ease;
}

img {
    float: right;
}

.container{
   z-index: 300;
}

@media (max-width: 450px) {
    .box {
        min-height: 200px;

    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        min-height: 180px;
    }
}


h2, h3, h4 {
    font-weight: var(--weight);
}


@media (min-width: 950px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .box {
        height: 90%;
        width: 300px;
        flex-wrap: wrap;
    }
}
