@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display&family=Quicksand&family=Roboto&family=Ubuntu&display=swap');



:root {
    --accentColor: #F99120;
    --backgroundColor: #e8e9eb;
    --textColor: #414143;
    --primaryColor: #7df2ea;
    --errorTextColor: #ED1B24;
}

body {
    background-color: var(--backgroundColor);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding-top: 6em;
    color: var(--textColor);
}

body > div {
    padding: 10px;
    min-height: 75vh;
}

#page {
    padding-top: 50px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.inline {
    display: inline;
}

/* Mise en page du header desktop*/
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryColor);
    min-height: 10vh;
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
}


#header.change {
    clip-path: inherit;
}

#entreprise {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

#navbar-desktop {
    height: 6rem;
    line-height: 6rem; /*centre verticalement */
    text-align: center;
}

/* Style menu mobile */
.navbar-mobile {
    display: none;
}

.navbar-mobile i {
    position: fixed;
    z-index: 99999;
    top: 0.8em;
    right: 15px;
    font-size: 3em;
}

.navbar-mobile .modal {
    transition: top 0.9s;
    background-color: var(--backgroundColor);
    height: 100vh;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    opacity: 0.95;
    z-index: 99998;
}

.navbar-mobile .change-modal {
    top: 0;
}


.navbar-mobile #navbar-mobile-list {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.navbar-mobile #navbar-mobile-list a {
    font-size: 2em;
    font-weight: 800;
    padding: 2rem;
    border-bottom: none;
}

.navbar-mobile #navbar-mobile-list form {
    padding: 2rem 0 2rem 0;
}

/* Style des liens */
#navbar-desktop a {
    padding: 10px;
    margin: 5px;
}

i {
    color: var(--textColor);
}

a {
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
    color: var(--textColor);
    font-weight: 600;
    background: linear-gradient(
            to right,
            var(--accentColor) 0%,
            var(--accentColor) 5px,
            transparent 5px
    ) repeat-x;
    background-size: 100%;
    padding: 0 5px 0 10px;
    text-decoration: none;
}

a:hover {
    background: linear-gradient(
            to right,
            var(--accentColor) 0%,
            var(--accentColor) 5px,
            transparent
    );
}

.link a {
    transition: unset;
    color: var(--textColor);
    font-weight: unset;
    background: unset;
    background-size: unset;
    padding: unset;
}

.link a:hover {
    background: unset;
}

/* Style du nom utilisateur */
.nomUtilisateur {
    text-align: right;
    margin-left: 30px;
}

.nomUtilisateur h2 {
    text-align: right;
}


/* footer */
#footer {
    text-align: center;
    min-height: unset;
}

/*Div cachées formulaires (id, mdp)*/
.hidden {
    display: none;
    margin: 0;
    padding: 0;
}

/* Media Queries */
@media screen and (max-width: 1000px) {
    #navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }

    /* Page d'accueil */
    .titre img {
        height: 15rem;
    }
}


section {
    padding: 30px 0 30px 0;
}

.gridDiv {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}

.custom-long-button.right{
    float: right;
    margin: 20px;
    display: block;
}

span {
    font-weight: bold;
}

