:root {
	--paddingLeft: 0px 0px 0px 15px;
	--borderInput: 1px solid var(--accentColor);
}

.form-container {
	display: flex;
	justify-content: row;
	align-items: center;
}

.forms {
	padding: var(--paddingLeft);
	border-left: 5px var(--accentColor) solid;
	width:100%
}

.gridDiv {
	width: 100%;
}

.grid {
	width: 80%;
}

.formInput, .formNumInput, .searchInput, .searchMenu, .formAreaInput {
	border: var(--borderInput);
	border-radius: 60px;
	margin: 5px 0px;
	height: 35px;
	width: 55%;
	padding: 10px 15px;
	font-size: 15px;
	font-weight: 100;
}

.formNumInput, .searchMenu, .searchInput{
	width: 30%;
}

.searchInput {
	height: 30px;
}

.searchMenu {
	height: 40px;
}

.formInput:focus, .formNumInput:focus, .searchInput:focus {
	outline: none;
	background: var(--accentColor);
	color:var(--textColor);
}

label {
	font-weight: bold;
}

.custom-button {
	margin-top: 30px;
}

@media (max-width: 950px) {
	.form-container {
		flex-direction: column;
		align-items: flex-start;
	}
	
	.gridDiv, .grid {
		width: 80%;
	}
}

#loginForm .form-container {
	width: 50%;
}

#loginForm .formNumInput {
	width: 80%;
}

.imgInput {
	width : 55%;
}

.formAreaInput {
	height: 70px;
}

