<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Dashboard</title>
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/stylesheet.css">
</head>

	<nav>
	<ul>
		<li><a th:href="@{/usersList}">Utilisateurs</a></li>
		<li><a th:href="@{/schoolsList}">Ecoles</a></li>
		<li><a th:href="@{/featuresList}">Fonctionnalités</a></li>
		<li><a th:href="@{/subscriptionsList}">Abonnements</a></li>
	</ul>
	</nav>

<body>
	<h1>Dashboard du SuperAdmin</h1>	
</body>
</html>