<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<title>Modifier un abonnement </title>
</head>

<body>
	<h1>Modifier un abonnement</h1>	
	
	<nav>
	<ul>
		<li><a th:href="@{/superAdminDashboard}">Dashboard</a></li>
		<li><a th:href="@{/usersList}">Liste des users</a></li>
		<li><a th:href="@{/index}">Liste des écoles</a></li>
		<li><a th:href="@{/featuresList}">Liste des features</a></li>
	</ul>
	</nav>
	
	<h2>Modifier un abonnement</h2>
	<form th:action="@{/updateSubscription}" method="post" th:object="${subscription}">
		<input type="hidden" name="id" th:value="${subscription.id}"/>
		<label>Nom de l'abonnement</label>
		<input name="subscriptionName" th:value="${subscription.name}"/>
		<br/>
		<label>Prix </label>
		<input name="subscriptionPrice" th:value="${subscription.price}"/>
		<br/>
		<label>Durée </label>
		<input name="subscriptionDuration" th:value="${subscription.duration}"/>
		<br/>
		<label>Fonctionnalité </label>
		<div th:each="feature : ${subscription.features}">
		<input name="subscriptionFeature" th:value="${feature.featureTitle}"/>
		</div>
		<br/> 
		<button type="submit">Modifier</button>
	</form>

</body>
</html>