<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>Liste des users</title>
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/tableau.css">
</head>

<body>
	
	<nav>
	<ul>
		<li><a th:href="@{/superAdminDashboard}">Dashboard</a></li>
		<li><a th:href="@{/schoolsList}">Ecoles</a></li>
		<li><a th:href="@{/featuresList}">Fonctionnalités</a></li>
		<li><a th:href="@{/subscriptionsList}">Abonnements</a></li>
	</ul>
	</nav>
	
	<h1>Liste des utilisateurs</h1>
	<table>
		<thead>
			<tr>
				<th>Identifiant</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Email</th>
				<th>Ville</th>
				<th>Dernière connection</th>
				<th>Action</th>
			</tr>
		</thead>
		<tr th:each="user : ${users}">
			<td hidden="hidden"><span th:text=${user.id} ></span></td>
			<td><span th:text=${user.login}></span></td>
			<td><span th:text=${user.profil.lastName}></span></td>
			<td><span th:text=${user.profil.firstName}></span></td>
			<td><span th:text=${user.profil.contact.email}></span></td>
			<td><span th:text=${user.profil.contact.address.town}></span></td>
			<td><span th:text=${user.lastConnection}></span></td>
			<td><a th:href="@{deleteUser/(id=${user.id})}">Supprimer</a></td>
		</tr>
	</table>

</body>
</html>
