<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<title>Liste des features</title>
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/tableau.css">

</head>

<body>
	
	<nav>
	<ul>
		<li><a th:href="@{/superAdminDashboard}">Dashboard</a></li>
		<li><a th:href="@{/usersList}">Users</a></li>
		<li><a th:href="@{/schoolsList}">Ecoles</a></li>
		<li><a th:href="@{/subscriptionsList}">Abonnements</a></li>
	</ul>
	</nav>
	
	<h1>Liste des features</h1>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
		</thead>
		<tr th:each="feature : ${features}">
			<td><span th:text=${feature.id}></span></td>
			<td><span th:text=${feature.featureTitle}></span></td>
			<td><span th:text=${feature.featureDescription}></span></td>
			<td>
				<a th:href="@{deleteFeature/(id=${feature.id})}">Supprimer</a>
				<a th:href="@{updateFeatureForm/(id=${feature.id})}">Modifier</a>
			</td>
		</tr>
	</table>
	
	<section>
		<a th:href="@{/featureForm}">Créer une option</a>
	</section>

</body>
</html>