<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head>
<title>Créer une fonctionnalité </title>
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/forms.css">
</head>

<body>
	<h1>Créer une fonctionnalité</h1>	
	
	<nav>
	<ul>
		<li><a th:href="@{/superAdminDashboard}">Dashboard</a></li>
		<li><a th:href="@{/usersList}">Utilisateurs</a></li>
		<li><a th:href="@{/schoolsList}">Ecoles</a></li>
		<li><a th:href="@{/featuresList}">Fonctionnalités</a></li>
		<li><a th:href="@{/subscriptionsList}">Abonnements</a></li>
	</ul>
	</nav>
	
	<h2>Créer une fonctionnalité</h2>
	<form th:action="@{/createFeature}" method="post" class="forms">
		<label>Titre de la fonctionnalité :</label><br/>
		<input name="title" th:value="${featureTitle}" class="input"/><br/>
		<br/>
		<label>Détail de la fonctionnalité :</label><br/>
		<input name="description" th:value="${featureDescription}" class="inputLong"/><br/>
		<br/>
		<button type="submit" class="custom-button">Créer</button>
	</form>

</body>
</html>