<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<title>Modifier l'abonnement de l'école</title>
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/school-yard-spring-app/StaticResources/css/forms.css">
</head>

<body>

	<nav>
		<ul>
			<li><a th:href="@{/superAdminDashboard}">Dashboard</a></li>
			<li><a th:href="@{/usersList}">Utilisateurs</a></li>
			<li><a th:href="@{/schoolsList}">Ecoles</a></li>
			<li><a th:href="@{/featuresList}">Fonctionnalités</a></li>
			<li><a th:href="@{/subscriptionsList}">Abonnements</a></li>
		</ul>
	</nav>
	<br/>
	<h2>Modifier l'abonnement de <span th:text="${school.schoolName}"></span></h2>
	<br/>
	<form th:action="@{/modifySchoolSubscription}" method="post" class="forms">
			<input type="hidden" name="id" th:value="${school.id}"/>
			<input type="hidden" name="subscriptionId" th:value="${school.membership.subscription.id}"/>

			<label>Nom de l'abonnement :</label><br/>
			<input name="name" th:value="${school.membership.subscription.name}" class="input"/>
			<br/> 
			<br/> 
			<label>Prix :</label> <br/> 
			<input name="price" th:value="${school.membership.subscription.price}" class="input"/> 
			<br/> 
			<br/> 
			<label>Durée</label><br/> 
			<input name="duration" th:value="${school.membership.subscription.duration}" class="input"/><span> &ensp;mois</span><br/> 
			<br/> 
			<label>Ajouter des fonctionnalités</label><br/>
			<br/> 
			<div th:each="featureToDisplay : ${features}">
			<input type="checkbox" name="featuresId" th:value="${featureToDisplay.id}" th:checked="${school.membership.subscription.features.contains(featureToDisplay)}" class="inputOptions"/>
			<span th:text="${featureToDisplay.featureTitle}"></span>
			</div><br/>
		<button type="submit" class="custom-button">Valider</button>
	</form>

</body>
</html>