<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<title>Modifier l'abonnement de l'école</title>

</head>

<body>

	<nav>
		<ul>
			<li><a th:href="@{/superAdminDashboard}">Dashboard</a></li>
			<li><a th:href="@{/usersList}">Liste des users</a></li>
			<li><a th:href="@{/index}">Liste des écoles</a></li>
			<li><a th:href="@{/featuresList}">Liste des features</a></li>
			<li><a th:href="@{/subscriptionsList}">Liste des abonnements</a></li>
		</ul>
	</nav>

	<h2>Modifier l'abonnement de <span th:text="${school.schoolName}"></span></h2>
	<form th:action="@{/modifySchoolSubscription}" method="post">
			<input type="hidden" name="id" th:value="${school.id}"/>
			<input type="hidden" name="subscriptionId" th:value="${school.membership.subscription.id}"/>
			<label>Nom de l'abonnement</label> 
			<input name="name" th:value="${school.membership.subscription.name}" /> 
			<label>Prix</label> 
			<input name="price" th:value="${school.membership.subscription.price}" /> 
			<label>Durée</label> 
			<input name="duration" th:value="${school.membership.subscription.duration}" /><span>mois</span><br/> 
			<label>Options à ajouter</label> 
			<div th:each="featureToDisplay : ${features}">
			<input type="checkbox" name="featuresId" th:value="${featureToDisplay.id}" th:checked="${school.membership.subscription.features.contains(featureToDisplay)}"/>
			<span th:text="${featureToDisplay.featureTitle}"></span>
			</div><br/>
		<button type="submit">Valider</button>
	</form>

</body>
</html>