<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<title>Ecole</title>
</head>

<body>	
	
	<nav>
	<ul>
		<li><a th:href="@{/superAdminDashboard}">Dashboard</a></li>
		<li><a th:href="@{/usersList}">Users</a></li>
		<li><a th:href="@{/schoolsList}">Ecoles</a></li>
		<li><a th:href="@{/featuresList}">Features</a></li>
		<li><a th:href="@{/subscriptionsList}">Abonnements</a></li>
	</ul>
	</nav>
	
	<h2>Informations de l'école</h2>
	<form th:action="@{/modifySchoolStatus}" method="post">
		<input type="hidden" name="id" th:value="${school.id}"/>
		<label>Nom de l'école : </label>
		<span th:text="${school.schoolName}"></span>
		<br/>
		<label>Description : </label>
		<span th:text="${school.synthesis}"></span>
		<br/>
		<label>Type d'école : </label>
		<span th:text="${school.schoolTypeEnum}"></span>
		<br/>
		<label>Email : </label>
		<span th:text="${school.contact.email}"></span>
		<br/>
		<label>Téléphone : </label>
		<span th:text="${school.contact.phone}"></span>
		<br/>
		<label>Adresse : </label><br/>
		<span th:text="${school.contact.address.number}"></span><br/>
		<span th:text="${school.contact.address.street}"></span><br/>
		<span th:text="${school.contact.address.town}"></span><br/>
		<span th:text="${school.contact.address.zipcode}"></span>
		<br/>
		<label>Abonnement : </label>
		<span th:text="${school.membership.subscription.name}"></span>
		<br/>
		<label>Date de souscription : </label>
		<span th:text="${school.membership.startingDate}"></span>
		<br/>
		<label>Date de fin : </label>
		<span th:text="${school.membership.endingDate}"></span>
		<br/>
		<label>Liste des fonctionnalités : </label>
		<div th:each="feature : ${features}" th:if="${subscription.features.contains(feature)}">
			<input type="hidden" name="featureId" th:value="${feature.id}"/>
			<span th:text="${feature.featureTitle}"></span>
		</div>
		<a th:href="@{schoolSubscriptionForm/(id=${school.id})}">Modifier l'abonnement de l'école</a>
		<br/>
		<label>Statut de l'école : </label>
		<select name="statut">
			<option th:each="status : ${T(fr.isika.cda.entities.school.StatusSchool).values()}" th:value="${status}" th:text="${status.displayValue}" th:selected="${status == school.statusSchool}" ></option>
		</select>
		<button type="submit">Modifier le statut de l'école</button>
		<br/>
	</form>
	
</body>
</html>