:root {
	--paddingLeft: 0px 0px 0px 15px;
	--borderInput: 1px solid var(--accentColor);
}

.forms {
	padding: var(--paddingLeft);
	border-left: 5px var(--accentColor) solid;
	width:100%
}

label {
	font-weight: bold;
}

.custom-button {
	width: 130px;
  	height: 40px;
  	background: #414143;
  	background: linear-gradient(0deg, rgba(65,65,67,1) 0%, rgba(129,129,130,1) 100%);
  	border: none;
  	color: #E8E9EB;
  	border-radius: 5px;
  	cursor: pointer;
  	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   	outline: none;
   	font-weight: 100;
   	font-size: 15px;
	margin: 5px;
}

.custom-button:hover {
	background: rgb(0,3,255);
	background: linear-gradient(0deg, rgba(111,111,111,1) 0%, rgba(157,157,157,1) 100%);
}

.searchMenu, .input, .inputLong {
	border: var(--borderInput);
	border-radius: 60px;
	margin: 5px 0px;
	height: 40px;
	width: 20%;
	padding: 10px 15px;
	font-size: 15px;
	font-weight: 100;
}

.input {
	height:20px;
}

.inputLong {
	height:50px;
	width: 60%;
}

.searchInput:focus, .input:focus, .inputLong:focus {
	outline: none;
	background: v(--accentColor);
	color:var(--textColor);
}

.inputOptions {
	margin: 0;
	padding:0;
}
